<div class="successPage">
  <div class="semi_circle opt--depth__1">
  <div class="chck-icon"><i class="material-icons check_circle">check_circle</i></div>
  </div>
    <div class="container opt--depth__1"> <!--background-->
          <div class=" msg flex-container opt_flex--container tc-flex-item__center">
            <div class="flex-item opt_flex__item opt_flex__item-p75">
              <div class="txt-cap">Success!</div>
              <div class="txt-des">Your booking has been
                successfully saved</div>
              <div class="btn-holder">
                <button class="btn-continue" type="button"> Continue</button>
              </div>
            </div>
          </div>
    </div>
</div>

