<div class="container price-popup">
  <i class="material-icons btn-pp">monetization_on</i>
  <div class="inner-container">
    <div class="price-modal opt--depth__4">
      <form class="form-horizontal " action="#" method="post">
        <div class="form-group row">
          <label for="cost" class="col-sm-6 col-form-label">Cost</label>
          <div class="col-sm-6">
            <input type="text"  id="cost" value="2356.23">
          </div>
        </div>
        <div class="form-group row">
          <label for="net-price" class="col-sm-6 col-form-label">Price (Net)</label>
          <div class="col-sm-6">
            <input type="text" id="net-price" value="2356.23">
          </div>
        </div>
        <div class="form-group row">
          <label for="net-total" class="col-sm-6 col-form-label">Total (Net)</label>
          <div class="col-sm-6">
            <input type="text"  id="net-total" value="2344.00">
          </div>
        </div>
        <div class="form-group row">
          <label for="gross-total" class="col-sm-6 col-form-label">Total (Gross)</label>
          <div class="col-sm-6">
            <input type="text"  id="gross-total" value="2356.23">
          </div>
        </div>
        <div class="form-group row">
          <label for="cost-estimation" class="col-sm-6 col-form-label">Estimation Cost</label>
          <div class="col-sm-6">
            <input type="text" id="cost-estimation" value="2356.23">
          </div>
        </div>
        <div class="form-group row">
          <label for="cost-actual" class="col-sm-6 col-form-label">Actual Cost</label>
          <div class="col-sm-6">
            <input type="text" id="cost-actual" value="2356.23">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
