<div class="container documentSelect">

  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>
  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>
  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>
  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>
  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>
  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>
  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>
  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>
  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>
  <div class="card-ds opt--depth__1"> <!--background-->
    <div class="row">
      <div class="col-md-8">
        <div class="opt_flex--container">
          <div class="opt_flex__item opt_flex__item-inherit">
            <!--Icon-->
            <div class="doc_icon">
              Icon here
            </div>
          </div>
          <!--Text-->
          <div class="opt_flex__item opt_flex__item-inherit">
            <div class="tc-body1--txt doc-des">Room_hire_schedule_of_fees_2016</div>
            <div class="tc-caption-txt doc-sub">Booking</div>
          </div>
        </div>
      </div>
      <!--Add Button-->
      <div class="col-md-4">
        <button type="button" class="btn-addTo">ADD</button>
      </div>
    </div>
  </div>




  <!--Pagination-->
  <nav aria-label="search-results">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>

</div>


