.opt--alert {
  padding: 20px;
  background-color: #f5766c;
  min-height: 90px;

  &__icon{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    //border: 1px solid black;
    padding-right: 30px;
    //width: 50px;
    //height: 50px;

  }
  &__content{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    //border: 1px solid black;
    padding-left: 30px;
    //padding: 10px;
  }
  &___close{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    border: 1px solid black;
    //width: 50px;
    //height: 50px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    i {
      &.material-icons {
        vertical-align: middle;
        transform: rotate(0.03deg);
        &.small {
          font-size: 16px;
        }
        &.medium {
          font-size: 30px;
        }
        &.large {
          font-size: 50px;
        }
        &.color {
          color: #ffff;
        }
      }
    }
  }

  .font-style-01 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    line-height: 25px;
  }

  .font-style-02 {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffff;
    line-height: 25px;
  }

  .btn {
    &:active, &:focus, &:visited, &:active:focus {
      outline: none;
    }
    &.btn-icon {
      background-color: transparent;
      padding: 0;
      color: #f5766c;
      align-items: center;
    }
  }

  .vertical-line{
    border-left: 2px solid white;
    //min-height: 62px;
    //padding-bottom: 10px;
    //padding-top: 10px;
    //min-height: 55px;
  }
}



