.booking-summary {
  border-bottom: 1px solid #d3d6d9;
  .flex-row {
    .col {
      background-color: #fff;
      &:nth-child(2) {
        background-color: #f5f5f5;
      }
    }
  }
  &.__unavailable {
    .flex-row {
      .col {
        background-color: #f5766c;
        &:nth-child(2) {
          background-color: #b1554e;
        }
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    height: 100%;
    .flex-horizontal {
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;
      height: 49.5%;

      .half{

      }

      &.border-line{
        height: 1%;
        background-color: #d3d6d9;
      }

      &:first-child {
        padding-bottom: 5px;
      }
      &:last-child {
        padding-top: 5px;
      }
    }
    .field {
      .field-icon {
        color: #909cac;
      }
    }
  }

  .valuation{
    height: 100%;
    .flex-horizontal{
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;
      height: 50%;
      .field-inner{
        height: 100%;
        flex-grow: 1;
      }
    }
  }
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .profile__image, .profile__details {

  }
  .profile__image {
    display: flex;
    align-items: center;
    padding-right: 15px;
  }
  .profile__details {
  }
}

.field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .field-icon, .field-inner, .field-detail, .field-options {
    align-self: center;
  }
  .field-icon {
    width: 6%;
  }
  .field-inner {
    &:first-child {
      flex-grow: 1;
    }
  }
  .field-detail {
    flex-grow: 1;
  }
  .field-options {
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > .col {
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px;
    border-right: 1px solid #d3d6d9;
    border-collapse: collapse;

    &:last-child {
      border-right: none;
    }

    .__colored {
      background-color: #f5f5f5;
    }
  }
}

.font-style-01 {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #3a424d;
}

.font-style-02 {
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #3a424d;
}

.font-style-03 {
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #909cac;
}

.font-style-04 {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #27bfc2;
}

.font-style-05 {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #27bfc2;
}

.font-style-06 {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333e47;
}

.font-style-07 {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #909cac;
}

.link {
  font-family: 'Rubik', sans-serif;
  text-decoration: underline;
  cursor: pointer;
  &.__default {
    color: #27bfc2;
    font-size: 12px;
    font-weight: 400;
  }
  &.__no-ul {
    text-decoration: none;
  }
}

i {
  &.material-icons {
    vertical-align: middle;
    transform: rotate(0.03deg);
    &.small {
      font-size: 16px;
    }
    &.medium {
      font-size: 18px;
    }
  }
}

.btn {
  &:active, &:focus, &:visited, &:active:focus {
    outline: none;
  }
  &.btn-icon {
    background-color: transparent;
    padding: 0;
    color: #d3d6d9;
    align-items: center;
    box-shadow: none;
  }
}

.badge {
  font-size: 12px;
  font-weight: 400;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &.__success {
    background-color: #27bfc2;
  }

  &.__danger {
    background-color: #f5766c;
  }

  &.__uppercase {
    text-transform: uppercase;
  }
}

